<nz-layout class="body">
  <nz-header>
    <div class="logo">
      <img src="assets/img/logo.png" alt="bang_storage_ui">
    </div>
  </nz-header>
  <nz-layout class="container" [style.height]="isBackTop?'auto':'calc(100vh - 64px)'">
    <nz-sider [nzWidth]="320">
      <ul nz-menu [nzMode]="'inline'">
        <ng-template ngFor [ngForOf]="menu" let-item let-index="index">
          <li
            nz-menu-item
            *ngIf="!item.children.length"
            [nzSelected]="item.selected"
            (click)="changePage(item.name,item.route)"
          >{{item.name}}</li>
          <li nz-submenu *ngIf="item.children.length" [nzOpen]="true">
            <span title style="font-weight: bold">{{item.name}}</span>
            <ul>
              <li
                nz-menu-item
                *ngFor="let i of item.children"
                [nzSelected]="i.selected"
                (click)="changePage(i.name,i.route,item.route)"
              >{{i.name}}</li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </nz-sider>
    <nz-layout class="content">
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
