.body {
  height: 10000px;
  nz-header {
    background: #fff;
    position: relative;
    box-shadow: 0 2px 8px #f0f1f2;

    .logo {
      width: 64px;
      display: inline-block;

      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }

  .container {
    background: #fff;
    padding: 20px 0;
    height: calc(100vh - 64px);

    nz-sider {
      ul {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
    .content{
      padding: 16px 20px;
      nz-content{
        width: 100%;
        height: 100%;
        background: #fff;
        padding: 10px 30px;
        overflow-y: auto;
      }
    }
  }
}
