.body {
  nz-header {
    background: #fff;
    position: relative;
    box-shadow: 0 2px 8px #f0f1f2;

    .logo {
      width: 64px;
      display: inline-block;

      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }

  .container {
    background: #fff;
    padding: 20px 0;

    nz-sider {
      ul {
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }

    .content {
      nz-content {
        height: 100%;
        background: #fff;
        padding: 10px 0 10px 30px;
        overflow-y: hidden;
      }
    }
  }
}
