div {
  position: relative;
  display: inline-block;

  input {
    touch-action: manipulation;

    &.storage-input-number {
      font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-variant: tabular-nums;
      box-sizing: border-box;
      margin: 0;
      padding: 4px 11px;
      list-style: none;
      position: relative;
      display: inline-block;
      width: 100%;
      height: 32px;
      font-size: 14px;
      line-height: 1.5;
      color: rgba(0, 0, 0, .65);
      background-color: #fff;
      background-image: none;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      transition: all .3s;

      &:hover {
        border-color: #40a9ff;
        border-right-width: 1px !important;
      }

      &:focus {
        border-color: #40a9ff;
        outline: 0;
        box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
        border-right-width: 1px !important;
      }

      &-disabled {
        background-color: #f5f5f5;
        opacity: 1;
        cursor: not-allowed;
        color: rgba(0, 0, 0, .25);

        &:hover {
          border-color: #e6d8d8;
          border-right-width: 1px !important;
        }
      }
    }
  }

  span {
    position: absolute;
    top: 5px;
  }
}
