<div class="select">
  <h1>Select 选择器</h1>
  <p>下拉选择器</p>
  <article>
    <h2>何时使用</h2>
    <ul style="list-style: circle">
      <li>弹出一个下拉菜单给用户选择操作，用于代替原生的选择器，或者需要一个更优雅的多选器时。</li>
      <li>当选项少时（少于 5 项），建议直接将选项平铺，使用 Radio 是更好的选择。</li>
    </ul>
  </article>
  <article>
    <h2>代码演示</h2>
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="12">
        <div class="code-box">
          <div class="code-box-demo">
            <storage-select>
              <storage-option *ngFor="let item of array" [storageValue]="item.value" [storageName]="item.name"
                              [storageDisabled]="item.disabled"></storage-option>
            </storage-select>
            <storage-select storageDisabled>
              <storage-option *ngFor="let item of array" [storageValue]="item.value"
                              [storageName]="item.name"></storage-option>
            </storage-select>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
