.storage-carousel {
  background: #fff;
  display: inline-block;
  overflow: hidden;
  position: relative;

  &-container {
    height: 100%;
    transition: transform .8s ease-in-out;
  }

  &-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;


      li {
        width: 20px;
        height: 8px;
        margin: 0 2px;
        border-radius: 4px;
        background: #333;
        opacity: 0.4;
        display: inline-block;
        cursor: pointer;
        transition: opacity .8s;

        &:hover {
          opacity: 1 !important;
        }
      }
    }

    &-selected {
      opacity: 0.8 !important;
    }
  }

  &-direction {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    span {
      font-size: 40px;
      color: #333;
      opacity: 0.4;
      cursor: pointer;
      transition: opacity .8s;

      &:last-child {
        float: right;
      }

      &:hover {
        opacity: 1;
      }
    }

    &-forbid {
      cursor: not-allowed !important;

      &:hover {
        opacity: 0.4 !important;
      }
    }
  }
}
