<div class="storage-carousel" [ngStyle]="size" (mouseenter)="setTimer()" (mouseleave)="setTimer(true)">
  <div
    class="storage-carousel-container"
    [style.transform]="'translateX('+move+'px)'"
    #container>
    <ng-content></ng-content>
  </div>
  <div class="storage-carousel-dots" *ngIf="dots">
    <ul>
      <li
        *ngFor="let item of dotsArray;let i=index"
        [class.storage-carousel-dots-selected]="item.selected"
        [class.storage-carousel-dots-light]="light"
        (click)="changeIndex(i)"
      ></li>
    </ul>
  </div>
  <div
    class="storage-carousel-direction"
    *ngIf="direction"
    [style.lineHeight]="size.height"
  >
    <span
      [class.storage-carousel-direction-forbid]="dotsArray[0].selected"
      [class.storage-carousel-direction-light]="light"
      (click)="clickDirectionButton()"
    ><i nz-icon type="left-circle" theme="outline"></i></span>
    <span
      [class.storage-carousel-direction-forbid]="dotsArray[dotsArray.length-1].selected"
      [class.storage-carousel-direction-light]="light"
      (click)="clickDirectionButton(true)"
    ><i nz-icon type="right-circle" theme="outline"></i></span>
  </div>
</div>
