<div>
  <button storage-button [storageType]="" [storageGhost]="true" [storageLoading]="true">按钮</button>
  <button storage-button [storageType]="'primary'" [storageGhost]="true" [storageLoading]="true">按钮</button>
  <button storage-button [storageType]="'danger'" [storageGhost]="true" [storageLoading]="true">按钮</button>
  <button storage-button [storageType]="'success'" [storageGhost]="true" [storageLoading]="true">按钮</button>
  <button storage-button [storageType]="'warning'" [storageGhost]="true" [storageLoading]="true">按钮</button>
  <button storage-button [storageType]="'info'" [storageGhost]="true" [storageLoading]="true">按钮</button>
</div>
