<div class="button">
  <h1>Button 按钮</h1>
  <p>用于开始一个即时的操作。</p>
  <article>
    <h2>何时使用</h2>
    <p>标记了一个（或封装一组）操作命令，响应用户点击行为，触发相应的业务逻辑。</p>
  </article>
  <article>
    <h2>代码演示</h2>
    <div nz-row nzGutter="16">
      <div nz-col nzSpan="12">
        <div class="code-box">
          <div class="code-box-demo">
            <button storage-button storageType="default">Default</button>
            <button storage-button storageType="primary">Primary</button>
            <button storage-button storageType="danger">Danger</button>
            <button storage-button storageType="warning">Warning</button>
            <button storage-button storageType="success">Success</button>
            <button storage-button storageType="info">Info</button>
          </div>
          <div class="code-box-description">
            <p>按钮有四种类型：默认按钮、主按钮、危险按钮、警告按钮、成功按钮、信息按钮。</p>
            <span class="code-box-description-title">按钮类型</span>
            <span
              nz-tooltip
              [nzTitle]="'Hide Code'"
              class="code-box-description-icon"
              *ngIf="codeBox.first.show"
              (click)="codeBox.first.show=!codeBox.first.show"
            >
              <img alt="expand code"
                   src="https://gw.alipayobjects.com/zos/rmsportal/wSAkBuJFbdxsosKKpqyq.svg">
            </span>
            <span
              nz-tooltip
              [nzTitle]="'Show Code'"
              class="code-box-description-icon"
              *ngIf="!codeBox.first.show"
              (click)="codeBox.first.show=!codeBox.first.show"
            >
              <img alt="expand code"
                   src="https://gw.alipayobjects.com/zos/rmsportal/OpROPHYqWmrMDBFMZtKF.svg">
            </span>
          </div>
          <div class="code-box-code" [hidden]="!codeBox.first.show">
            <pre><code [highlight]="codeBox.first.source"></code></pre>
          </div>
        </div>
        <div class="code-box">
          <div class="code-box-demo">
            <button storage-button storageType="primary">Primary</button>
            <button storage-button storageType="primary" disabled>Primary(disabled)</button>
            <br><br>
            <button storage-button>Default</button>
            <button storage-button disabled>Default(disabled)</button>
            <br><br>
            <button storage-button storageType="danger">Danger</button>
            <button storage-button storageType="danger" disabled>Danger(disabled)</button>
            <br><br>
            <button storage-button storageType="warning">Warning</button>
            <button storage-button storageType="warning" disabled>Warning(disabled)</button>
            <br><br>
            <button storage-button storageType="success">Success</button>
            <button storage-button storageType="success" disabled>Success(disabled)</button>
            <br><br>
            <button storage-button storageType="info">Info</button>
            <button storage-button storageType="info" disabled>Info(disabled)</button>
          </div>
          <div class="code-box-description">
            <p>
              添加<code class="code">disabled</code>属性即可让按钮处于不可用状态，同时按钮样式也会改变。
            </p>
            <span class="code-box-description-title">不可用状态</span>
            <span
              nz-tooltip
              [nzTitle]="'Hide Code'"
              class="code-box-description-icon"
              *ngIf="codeBox.third.show"
              (click)="codeBox.third.show=!codeBox.third.show"
            >
              <img alt="expand code"
                   src="https://gw.alipayobjects.com/zos/rmsportal/wSAkBuJFbdxsosKKpqyq.svg">
            </span>
            <span
              nz-tooltip
              [nzTitle]="'Show Code'"
              class="code-box-description-icon"
              *ngIf="!codeBox.third.show"
              (click)="codeBox.third.show=!codeBox.third.show"
            >
              <img alt="expand code"
                   src="https://gw.alipayobjects.com/zos/rmsportal/OpROPHYqWmrMDBFMZtKF.svg">
            </span>
          </div>
          <div class="code-box-code" [hidden]="!codeBox.third.show">
            <pre><code [highlight]="codeBox.third.source"></code></pre>
          </div>
        </div>
        <div class="code-box">
          <div class="code-box-demo">
            <div style="background: rgb(190, 200, 200);padding: 30px">
              <button storage-button storageType="primary" [storageLoading]="true" [storageGhost]="true">Loading!
              </button>
              <button storage-button storageType="primary" [storageLoading]="loading" [storageGhost]="true"
                      (click)="load()">Click Me!
              </button>
              <br><br>
              <button storage-button [storageLoading]="true" [storageGhost]="true">Loading!</button>
              <button storage-button [storageLoading]="loading" [storageGhost]="true" (click)="load()">Click Me!
              </button>
              <br><br>
              <button storage-button storageType="danger" [storageLoading]="true" [storageGhost]="true">Loading!
              </button>
              <button storage-button storageType="danger" [storageLoading]="loading" [storageGhost]="true"
                      (click)="load()">Click Me!
              </button>
              <br><br>
              <button storage-button storageType="warning" [storageLoading]="true" [storageGhost]="true">Loading!
              </button>
              <button storage-button storageType="warning" [storageLoading]="loading" [storageGhost]="true"
                      (click)="load()">Click Me!
              </button>
              <br><br>
              <button storage-button storageType="success" [storageLoading]="true" [storageGhost]="true">Loading!
              </button>
              <button storage-button storageType="success" [storageLoading]="loading" [storageGhost]="true"
                      (click)="load()">Click Me!
              </button>
              <br><br>
              <button storage-button storageType="info" [storageLoading]="true" [storageGhost]="true">Loading!</button>
              <button storage-button storageType="info" [storageLoading]="loading" [storageGhost]="true"
                      (click)="load()">Click Me!
              </button>
            </div>
          </div>
          <div class="code-box-description">
            <p>添加<code class="code">storageGhost</code>属性后，幽灵按钮将其他按钮的内容反色，背景变为透明，常用在有色背景上。</p>
            <span class="code-box-description-title">幽灵按钮</span>
            <span
              nz-tooltip
              [nzTitle]="'Hide Code'"
              class="code-box-description-icon"
              *ngIf="codeBox.fifth.show"
              (click)="codeBox.fifth.show=!codeBox.fifth.show"
            >
              <img alt="expand code"
                   src="https://gw.alipayobjects.com/zos/rmsportal/wSAkBuJFbdxsosKKpqyq.svg">
            </span>
            <span
              nz-tooltip
              [nzTitle]="'Show Code'"
              class="code-box-description-icon"
              *ngIf="!codeBox.fifth.show"
              (click)="codeBox.fifth.show=!codeBox.fifth.show"
            >
              <img alt="expand code"
                   src="https://gw.alipayobjects.com/zos/rmsportal/OpROPHYqWmrMDBFMZtKF.svg">
            </span>
          </div>
          <div class="code-box-code" [hidden]="!codeBox.fifth.show">
            <pre><code [highlight]="codeBox.fifth.source"></code></pre>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="12">
        <div class="code-box">
          <div class="code-box-demo">
            <nz-radio-group [(ngModel)]="size">
              <label nz-radio-button nzValue="large">Large</label>
              <label nz-radio-button nzValue="default">Default</label>
              <label nz-radio-button nzValue="small">Small</label>
            </nz-radio-group>
            <br>
            <br>
            <button storage-button storageType="default" [storageSize]="size">Default</button>
            <button storage-button storageType="primary" [storageSize]="size">Primary</button>
            <button storage-button storageType="danger" [storageSize]="size">Danger</button>
            <button storage-button storageType="warning" [storageSize]="size">Warning</button>
            <button storage-button storageType="success" [storageSize]="size">Success</button>
            <button storage-button storageType="info" [storageSize]="size">Info</button>
          </div>
          <div class="code-box-description">
            <p>按钮有大、中、小三种尺寸。</p>
            <p>
              通过设置<code class="code">storageSize</code>为<code class="code">large</code><code class="code">small</code>分别把
              按钮设为大、小尺寸。若不设置<code class="code">storageSize</code>,则尺寸为中。
            </p>
            <span class="code-box-description-title">按钮尺寸</span>
            <span
              nz-tooltip
              [nzTitle]="'Hide Code'"
              class="code-box-description-icon"
              *ngIf="codeBox.second.show"
              (click)="codeBox.second.show=!codeBox.second.show"
            >
              <img alt="expand code"
                   src="https://gw.alipayobjects.com/zos/rmsportal/wSAkBuJFbdxsosKKpqyq.svg">
            </span>
            <span
              nz-tooltip
              [nzTitle]="'Show Code'"
              class="code-box-description-icon"
              *ngIf="!codeBox.second.show"
              (click)="codeBox.second.show=!codeBox.second.show"
            >
              <img alt="expand code"
                   src="https://gw.alipayobjects.com/zos/rmsportal/OpROPHYqWmrMDBFMZtKF.svg">
            </span>
          </div>
          <div class="code-box-code" [hidden]="!codeBox.second.show">
            <pre><code [highlight]="codeBox.second.source"></code></pre>
          </div>
        </div>
        <div class="code-box">
          <div class="code-box-demo">
            <button storage-button storageType="primary" [storageLoading]="true">Loading!</button>
            <button storage-button storageType="primary" [storageLoading]="loading" (click)="load()">Click Me!</button>
            <br><br>
            <button storage-button [storageLoading]="true">Loading!</button>
            <button storage-button [storageLoading]="loading" (click)="load()">Click Me!</button>
            <br><br>
            <button storage-button storageType="danger" [storageLoading]="true">Loading!</button>
            <button storage-button storageType="danger" [storageLoading]="loading" (click)="load()">Click Me!</button>
            <br><br>
            <button storage-button storageType="warning" [storageLoading]="true">Loading!</button>
            <button storage-button storageType="warning" [storageLoading]="loading" (click)="load()">Click Me!</button>
            <br><br>
            <button storage-button storageType="success" [storageLoading]="true">Loading!</button>
            <button storage-button storageType="success" [storageLoading]="loading" (click)="load()">Click Me!</button>
            <br><br>
            <button storage-button storageType="info" [storageLoading]="true">Loading!</button>
            <button storage-button storageType="info" [storageLoading]="loading" (click)="load()">Click Me!</button>
          </div>
          <div class="code-box-description">
            <p>添加<code class="code">storageLoading</code>属性即可让按钮处于加载状态。</p>
            <span class="code-box-description-title">加载中状态</span>
            <span
              nz-tooltip
              [nzTitle]="'Hide Code'"
              class="code-box-description-icon"
              *ngIf="codeBox.forth.show"
              (click)="codeBox.forth.show=!codeBox.forth.show"
            >
              <img alt="expand code"
                   src="https://gw.alipayobjects.com/zos/rmsportal/wSAkBuJFbdxsosKKpqyq.svg">
            </span>
            <span
              nz-tooltip
              [nzTitle]="'Show Code'"
              class="code-box-description-icon"
              *ngIf="!codeBox.forth.show"
              (click)="codeBox.forth.show=!codeBox.forth.show"
            >
              <img alt="expand code"
                   src="https://gw.alipayobjects.com/zos/rmsportal/OpROPHYqWmrMDBFMZtKF.svg">
            </span>
          </div>
          <div class="code-box-code" [hidden]="!codeBox.forth.show">
            <pre><code [highlight]="codeBox.forth.source"></code></pre>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="API">
    <h2>API</h2>
    <p><span class="api-title">[storage-button]</span><span class="api-default directive">Directive</span></p>
    <p>通过设置Button的属性来产生不同的按钮样式，推荐顺序为：
      <code class="code">storageType</code>->
      <code class="code">storageGhost</code>->
      <code class="code">storageSize</code>->
      <code class="code">storageLoading</code>->
      <code class="code">disabled</code>
    </p>
    <p>按钮的属性说明如下:</p>
    <nz-table
      #nzTable
      [nzData]="tableData"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
    >
      <thead>
      <tr>
        <th>属性</th>
        <th>说明</th>
        <th>类型</th>
        <th>默认值</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of nzTable.data">
        <td><code class="code">{{item.name}}</code></td>
        <td [innerHTML]="item.description"></td>
        <td><span class="table-type">{{item.type}}</span></td>
        <td>{{item.default}}</td>
      </tr>
      </tbody>
    </nz-table>
  </article>
</div>
