.home {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding-right: 10px;

  .add-icon {
    font-size: 30px;
    color: #aaa;
    margin: 0 20px;
    display: inline-block;
  }


  article {
    margin: 40px 0;

    &.special, &.link {

      ul {
        padding: 0;
        list-style: circle;

        li {
          margin-left: 20px;
          margin-bottom: 10px;
          padding-left: 4px;
        }
      }
    }

    &.install {
      pre {
        code {
          display: block;
        }
      }
    }
  }
}
