<h1>Bang Storage UI of Angular</h1>
<p>这里是广州棒谷科技股份有限公司仓储物流组基于NG-ZORRO的组件二次封装。</p>
<img src="../../../assets/img/NG-ZORRO.svg" alt="Angular" width="150">
<span class="add-icon">+</span>
<img src="../../../assets/img/echarts.svg" alt="echarts" width="150">
<article class="special">
  <h2>特性</h2>
  <ul>
    <li>基于NG-ZORRO的二次封装，与NG-ZORRO兼容。</li>
    <li>开箱即用的高质量Angular组件。</li>
    <li>使用TypeScript构建，提供完整的类型定义文件。</li>
  </ul>
</article>
<article class="environment">
  <h2>支持环境</h2>
  <p>现代浏览器和IE11以上（需要<a href="https://angular.io/guide/browser-support" target="_blank">polyfills</a>）。</p>
</article>
<article class="version">
  <h2>当前版本</h2>
  <a href="https://www.npmjs.com/package/bang-storage-ui" target="_blank"><img src="../../../assets/img/npm版本.png" alt="npm version"></a>
</article>
<article class="version">
  <h2>支持Angular版本</h2>
  <p>目前支持Angular<code>^7.0.0</code>版本</p>
</article>
<article class="install">
  <h2>安装</h2>
  我们强烈推荐使用官方的<code>@angular/cli</code>工具链辅助进行开发，在实际项目开发中，它可以很好的满足TypeScript代码的构建、调试、代理、打包部署等一系列工程化的需求。
  <pre>
    <code>
    $ <span class="function">ng</span> new PROJECT_NAME
    $ <span class="function">cd</span> PROJECT_NAME
    $ <span class="function">ng</span> add <span class="function">ng-zorro-antd</span>
  </code>
  </pre>
  与此同时，我们也强烈推荐使用<code>Yarn</code>来管理你的依赖。如果你不知道如何安装<code>Yarn</code>,请点击
  <a href="https://github.com/LaamGinghong/Tips-to-use-yarn" target="_blank">这里</a>。
  <pre>
    <code>
    $ <span class="function">ng</span> set packageManager=yarn
    </code>
  </pre>
</article>
<article class="link">
  <h2>链接</h2>
  <ul>
    <li><a href="https://angular.cn/" target="_blank">Angular官方中文文档</a></li>
    <li><a href="https://ng.ant.design/docs/introduce/zh" target="_blank">NG ZORRO中文文档</a></li>
    <li><a href="https://echarts.baidu.com/" target="_blank">ECHARTS中文文档</a></li>
  </ul>
</article>
